@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

:root {
  /* LAYOUT */
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;

  /* Colors */

  /* Primary */
  --pink: hsl(322, 100%, 66%);
  --pinkOpacity: hsla(322, 100%, 66%, 0.1);
  --lightPink: hsl(321, 100%, 78%);
  --lightPinkOpacity: hsla(321, 100%, 78%, 0.1);
  --lightRed: hsl(0, 100%, 63%);
  /* Neutral */
  --veryDarkCyan: hsl(192, 100%, 9%);
  --veryPaleBlue: hsl(207, 100%, 98%);

  /* Typography */

  /* headings */
  --primaryFontFamily: "Poppins", sans-serif;
  /* - Weights: 700 */
  /* body */
  --secondaryFontFamily: "Open Sans", sans-serif;
  /* - Weights: 400, 600, 700 */
  --fontSize: 1rem;

  /* Spaces and Border Radius */
  --margin: 1rem;
  --padding: 1rem;
  --borderRadius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 0.3rem;
  background: var(--veryDarkCyan);
  /* display: none; */
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--lightPinkOpacity);
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightPink);
  width: 5px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--pink);
}
/* END SCROLLBAR */

/* Basic styles */
body {
  cursor: default;
  font-family: var(--secondaryFontFamily);
  font-size: var(--fontSize);
  color: var(--veryDarkCyan);
  background-color: hsl(0, 0%, 100%);
  overflow-x: hidden;
}
h1 {
  font-size: calc(var(--fontSize) * 1.5);
}
h2 {
  font-size: calc(var(--fontSize) * 3.35);
}
h3 {
  font-size: calc(var(--fontSize) * 1.25);
  margin-bottom: calc(var(--margin) * 1.3);
}
h4 {
  font-size: calc(var(--fontSize) * 1.25);
  margin-bottom: var(--margin);
}
p {
  font-size: calc(var(--fontSize) * 0.875);
}
img {
  max-width: 1016px;
}
button {
  cursor: pointer;
  width: 200px;
  height: 40px;
  font-size: calc(var(--fontSize) * 0.75);
  font-weight: 700;
  color: white;
  background-color: var(--pink);
  border: 1px solid var(--pink);
  border-radius: calc(var(--borderRadius) * 3);
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.18);
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: var(--lightPink);
  border: 1px solid var(--lightPink);
}

/* Mobile First*/
header,
main,
.hero-section,
.hero-call-to-action,
.texts,
.communities-messages,
.grow-together,
.flowing-conversations,
.your-users,
.bottom-call-to-action,
footer,
footer .widget-footer,
.social-network {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
header {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding);
  margin-top: calc(var(--margin) * 1.5);
}
header .logo img {
  cursor: pointer;
  width: 96px;
}
header > button {
  width: 80px;
  height: 24px;
  font-size: calc(var(--fontSize) * 0.5);
  background-color: transparent !important;
  color: var(--pink);
  border-radius: calc(var(--borderRadius) * 3);
  border: 1px solid var(--pink);
  box-shadow: 0px 0px 4px 3px var(--pinkOpacity);
}
header button:hover {
  color: var(--lightPink);
  border: 1px solid var(--lightPink);
  box-shadow: 0px 0px 4px 3px var(--lightPinkOpacity);
}
/* END HEADER */

main {
  padding-top: calc(var(--padding) * 4.5);
}

/* HERO */
.hero-section,
.hero-section .hero-call-to-action,
.hero-section .hero-call-to-action .texts {
  justify-content: space-between;
}
.hero-section {
  width: 296px;
  height: 581px;
}
.hero-section .hero-call-to-action {
  height: 263px;
}
.hero-section .hero-call-to-action .texts {
  height: 170px;
  text-align: center;
}
.hero-section img {
  width: 296px;
  height: 209px;
}
/* END HERO */

/* COMMUNITIES & MESSAGES */
.communities-messages {
  width: 160px;
  height: 356px;
  justify-content: space-between;
  margin-top: calc(var(--margin) * 6);
}
.communities-messages .communities img,
.communities-messages .messages img {
  width: 30px;
}
.communities-messages .communities .texts p,
.communities-messages .messages .texts p {
  font-size: calc(var(--fontSize) * 0.95);
}
/* END COMMUNITIES & MESSAGES */

.curve {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 80px;
  width: 100%;
}
.grow-together img,
.flowing-conversations img,
.your-users img {
  width: 280px;
}
.grow-together .texts,
.flowing-conversations .texts,
.your-users .texts {
  text-align: center;
}
.grow-together .texts p,
.flowing-conversations .texts p,
.your-users .texts p {
  font-size: calc(var(--fontSize) * 0.875);
  width: 320px;
}
/* GROW TOGETHER */
.curve.top-one {
  margin-top: calc(var(--margin) * 6);
  background-image: url("./images/bg-section-top-mobile-1.svg");
  background-position: center bottom;
}
.curve.top-two {
  background-image: url("./images/bg-section-top-mobile-2.svg");
  transform: rotate(180deg);
  height: 40px;
}
.grow-together {
  width: 100vw;
  gap: calc(var(--margin) * 6);
  background-color: var(--veryPaleBlue);
  padding: calc(var(--padding) * 4) 0;
}
/* END GROW TOGETHER */
